---
import AboutUsContent from "@src/components/csr/AboutUsContent";
import Main from "@src/layouts/main.astro";

///ID of about-us page on WordPress.com setup
const ID = "1";
const url = import.meta.env.WP_URL;
/**
 * Url to fetch the about-us page from the WordPress.com API.
 */
const wpFetch = url + ID;
---

<Main
  content={{ title: "Blog" }}
  metaDescription="about headless wordpress.com project."
>
  <div>
    <h1> About This Site </h1>
    <AboutUsContent client:load url={wpFetch} />
    <p class="hidden">
      This project is a personal, hobby-driven experiment to showcase how
      WordPress.com can be used as a headless CMS — meaning WordPress handles
      the content, but not the frontend.
    </p>
  </div>
</Main>
