---
import Main from "@src/layouts/main.astro";
---

<Main
  content={{ title: "Blog" }}
  metaDescription="about headless wordpress.com project."
>
  <h1> About This Site </h1>
  <p>
    This project is a personal, hobby-driven experiment to showcase how
    WordPress.com can be used as a headless CMS — meaning WordPress handles the
    content, but not the frontend.
  </p>
  <h2>Why?</h2>
  <p class="text-primary">
    I wanted to see what happens when you separate content from presentation.
    WordPress.com provides a great editor and API, so I’ve connected it to a
    custom frontend built with modern tools like React or Next.js. All blog
    posts you see here come directly from WordPress, but everything else —
    layout, styling, interactivity — is entirely custom.
  </p>
  <h2>What’s the goal?</h2>
  <p>
    Mainly to learn, share, and have fun. I believe WordPress doesn’t have to
    look like WordPress. This setup gives me full creative freedom on the
    frontend while keeping content editing easy and familiar. This isn’t a
    commercial project — it’s just a playground for testing ideas, building
    headless integrations, and pushing the limits of what WordPress can do.
    Thanks for visiting — and if you’re into code, APIs, or headless web
    development,feel free to reuse it as an boilerplate</p
  >
</Main>
