---
import Main from "../layouts/main.astro";
const wordpressUrl: string =
  "https://public-api.wordpress.com/rest/v1.1/sites/astroheadlessjw5.wordpress.com/posts";
---

<Main content={{ title: "Blog" }}>
  <h1> this is blog </h1>
</Main>
