---
import ArticleCard from "../components/ArticleCard.astro";
import Main from "../layouts/main.astro";
const wpFetch = await fetch(
  "https://public-api.wordpress.com/rest/v1.1/sites/astroheadlessjw5.wordpress.com/posts"
);
const posts = await wpFetch.json();
const formatTitle = (title: string) => {
  return title.length > 20 ? title.slice(0, 20) + "..." : title;
};
console.log(posts.posts);
---

<Main content={{ title: "Blog" }}>
  <div
    class="py-10 relative flex flex-wrap gap-2 justify-center items-start overflow-auto w-full"
  >
    {
      posts.posts.map((post) => (
        <ArticleCard
          title={formatTitle(post.title)}
          image={post.featured_image}
          content={post.content}
          date={post.date}
        />
      ))
    }
  </div>
</Main>
