---
import "../styles/global.css";
// Component Imports
import Button from "../components/Button.astro";
import Main from "../layouts/main.astro";

const title: string = "Heja";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main content={{ title }}>
  <Button>Click here for fun</Button>
  <a href={wordpressUrl} class="p-4 underline">Check JSON</a>
  <a href="/markdown-page" class="p-4 underline"
    >Markdown is also supported...</a
  >
</Main>
