---
import "@src/styles/global.css";
// Component Imports
import Button from "@src/components/Button.astro";
import Main from "@src/layouts/main.astro";

const title: string = "Heja";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main
  content={{ title }}
  metaDescription="A simple Astro page with a headless connection to Wordpress.com ."
>
  <div class="h-screen flex flex-col items-center justify-center">
    <h1>Hello everyone</h1>
    <Button>Click here for fun</Button>
  </div>
</Main>
