---
const { image, title, date, content } = Astro.props;
const preparedDescription = (content: string) => {
  const clearString = content.replace(/<[^>]+>/g, ""); // Remove HTML tags
  const shortenedString =
    clearString.length > 100
      ? clearString.substring(0, 100) + "..."
      : clearString;

  return shortenedString;
};
const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div
  class="max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
>
  <div class="px-4 py-2">
    <h1 class="text-xl font-bold text-gray-800 uppercase dark:text-white"
      >{title}</h1
    >
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-400"
      >{preparedDescription(content)}</p
    >
  </div>

  <img
    class="object-cover w-full h-48 mt-2"
    src={image || ""}
    alt={title || "Article Image"}
  />

  <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
    <p class="text-sm font-bold text-white">{formattedDate}</p>
    <button
      class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
      >Read</button
    >
  </div>
</div>
