---
import { formatDate } from "@src/utils/methods/utils";
const { image, title, date, content, href } = Astro.props;
const preparedDescription = (content: string) => {
  const clearString = content.replace(/<[^>]+>/g, ""); // Remove HTML tags
  const shortenedString =
    clearString.length > 100
      ? clearString.substring(0, 100) + "..."
      : clearString;

  return shortenedString;
};
const formattedDate = formatDate(date);
---

<div
  class="max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
>
  <div class="px-4 py-2">
    <h2 class="font-bold h-[2em] text-gray-800 uppercase dark:text-white"
      >{title}</h2
    >
    <p class="mt-4 text-sm text-gray-600 dark:text-gray-400"
      >{preparedDescription(content)}</p
    >
  </div>

  <img
    class="object-cover w-full h-48 mt-2"
    src={image || ""}
    alt={title || "Article Image"}
  />

  <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
    <p class="text-sm font-bold text-white">{formattedDate}</p>
    <a
      class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
      href={href}
      >Read
    </a>
  </div>
</div>
